<div class="main-container">
    <mat-toolbar color="primary">
        <a [routerLink]="'/'" mat-icon-button>
          <mat-icon>home</mat-icon>
        </a>
        <span class="example-spacer"></span>
        <button mat-icon-button (click)="logout()">
          <mat-icon>logout</mat-icon>
        </button>
    </mat-toolbar>

    <mat-drawer-container class="example-container">
        <mat-drawer class="sidebar" mode="side" opened>
            <app-sidebar></app-sidebar>
        </mat-drawer>
        <mat-drawer-content>
            <div class="page-content">
                <router-outlet></router-outlet>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
